/*.cart{
  border: 1px solid black;
}*/

.itemName, .money, .quantity{
 
  display: inline-block;
}

.itemName{
  border-bottom: 1px solid black;
  width: 400px;
  text-align: left;
}

.money{
  border-bottom: 1px solid black;
  width: 100px;
  text-align: right;
}

.quantity{
  border-bottom: 1px solid black;
  width: 100px;
  text-align: right;
}

.size {
  width: 128px;
  height: 191px;
}

.fool{
  opacity: 1;
  color: black;
  font-weight: bold;
}

/*body{
  background-color: lightgray;
}*/

.inner {
  width: 320px;
  height: 200px;
/*   border-top: solid 1px; */
  line-height: 10%;
}

.flame h3 {
  font-size: 100%;
  font-weight: bolder;
  margin-top: 0px;
}

 .img {
  vertical-align: top;
  margin-right: 10px;
  display: inline-block;
  transform-style: preserve-3d;
  margin-top: 10px;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.inner a, .inner a:hover {
  text-decoration: none;
  color: black;
}

h3 {
  display: inline-block;
  text-align: justify;
}
 
.flame {
  width: 200px;
  height: 200px;
  display: inline-block;
}
.flame h3{
 word-spacing: 1px;
}


.container{
/*border: 2px solid black;*/
padding: 3px;
}

.row{
padding: 3px;
/*border: 1px solid red;*/
text-align: justify;
margin: 20px;
}

#header{
/*border: 1px solid red;*/
margin-top: 50px;
border-bottom: 2px solid black;
font-size: 20px;
font-weight: bold;
}
h3 {
display: inline-block;
text-align: justify;
}
#small{
    padding: 10px;
    position: relative;
    /*border: 1px solid red;*/
    margin-left: 15px;
    width: 170px;
    height: 120px;
}
#pic{
    /*border: 1px solid red;*/
    margin: 10px;
}

.image{
  width: 200px;
  height: 200px;
  vertical-align: top;
  margin-right: 10px;
  transform-style: preserve-3d;
  margin-top: 10px;
  text-align: justify
}

#big{
display: inline-block;
text-align: justify;
width: 350px;
height: 115px;
}

img {
margin: auto;
}

.offsetRow {
text-align: center;
margin: 10px;
}


.tea2{
/* The image used */
background-image: url("https://i.ytimg.com/vi/v3jaFYyVPcY/maxresdefault.jpg");

/* Set a specific height */
min-height: 300px; 

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
#navbar-main {
/* Added `.affix-top` class css when the element is top */
/* Added `.affix` class css when the element is >= 170px (Look: line 8 html) */
/* Added `.affix-bottom` class css when the element is footer */
}
#navbar-main.affixed-top {
background: green;
}
#navbar-main.affix {
background: green;
top: 0;
left: 0;
right: 0;
}
#navbar-main.affix-bottom {
background: red;
}

.col-md-3 {
height: 100px;
}
.col-xs-15 {
width: 20%;
float: left;
}
img < .col-md-12 {
margin: 0 auto;
}
::-webkit-scrollbar { 
display: none; 
}
.map {
width: 500px;
height: 500px;
float: right;
}
.block {
height: 600px;
}

#imgRight {
float: right;
width: 500px;
}
#imgLeft {
float: left;
width: 500px;
}
#locale {
font-size: 45px;
}
.button1, .button2, .button3, .button4, .button5 {
background-color: white;
color: black;
border: 2px solid #4CAF50 ;
border-radius: 50%;

}
.button2:hover {
background-color:#FF5733 ;
color: white;
}
.button3:hover {
background-color: #5499C7 ;
color: white;
}
.button4:hover {
background-color: #A569BD ;
color: white;
}
.button5:hover {
background-color: #48C9B0 ;
color: white;
}
.button1:hover {
background-color: #4CAF50 ;
color: white;
}
.full {
width: 100%;    
}
.gap {
height: 30px;
width: 100%;
clear: both;
display: block;
}
.footer {
background: #EDEFF1 ;
height: auto;
padding-bottom: 30px;
position: relative;
width: 100%;
border-bottom: 1px solid #CCCCCC ;
border-top: 1px solid #DDDDDD ;
margin:0px;
}
.footer p {
margin: 0px;
}
.footer img {
max-width: 100%;
}
.footer h3 {
border-bottom: 1px solid #BAC1C8 ;
color: #54697E ;
font-size: 18px;
font-weight: 600;
line-height: 27px;
padding: 40px 0 10px;
text-transform: uppercase;
}
.footer ul {
font-size: 13px;
list-style-type: none;
margin-left: 0;
padding-left: 0;
margin-top: 15px;
color: #7F8C8D ;
}
.footer ul li a {
padding: 0 0 5px 0;
display: block;
}
.footer a {
color: #78828D 
}
.supportLi h4 {
font-size: 20px;
font-weight: lighter;
line-height: normal;
margin-bottom: 0 !important;
padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
background: #FFFFFF ;
display: inline-block;
float: left;
height: 30px;
clear: both;
width: 100%;
}
.newsletter-box .btn {
border: medium none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
-ms-border-radius: 3px;
border-radius: 3px;
display: inline-block;
height: 40px;
padding: 0;
width: 100%;
color: #fff;
}
.newsletter-box {
overflow: hidden;
}
.bg-gray {
background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
box-shadow: 0 1px 0 #B4B3B3 ;
}
.social li {
background: none repeat scroll 0 0 #B5B5B5 ;
border: 2px solid #B5B5B5 ;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-o-border-radius: 50%;
-ms-border-radius: 50%;
border-radius: 50%;
float: left;
height: 36px;
line-height: 36px;
margin: 0 8px 0 0;
padding: 0;
text-align: center;
width: 36px;
transition: all 0.5s ease 0s;
-moz-transition: all 0.5s ease 0s;
-webkit-transition: all 0.5s ease 0s;
-ms-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
}
.social li:hover {
transform: scale(1.15) rotate(360deg);
-webkit-transform: scale(1.1) rotate(360deg);
-moz-transform: scale(1.1) rotate(360deg);
-ms-transform: scale(1.1) rotate(360deg);
-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
color: #EDEFF1 ;
}
.social li:hover {
border: 2px solid #2c3e50 ;
background: #2c3e50 ;
}
.social li a i {
font-size: 16px;
margin: 0 0 0 5px;
color: #EDEFF1 !important;
}
.footer-bottom {
background: #A9A9A9 ;
border-top: 1px solid #DDDDDD ;
padding-top: 10px;
padding-bottom: 10px;
}
.footer-bottom p.pull-left {
padding-top: 6px;
}
.payments {
font-size: 1.5em;    
}
.selections {
border: 1px solid black; 
padding: 10px;
}
.delivery {

}


.img{
  width: 100px;
  height: 100px;
}